* {
  margin: 0px;
  padding: 0px;
}

body {
  padding-top: 0rem;
  padding-bottom: 3rem;
  height: 100%;
  width: 100%;
  color: white;
  background: linear-gradient(#08172b, #060e1dfc, #08172b);
}

.bg-image {
  background-image: url("./image/photo-1692815016186-076a2eb9c9c8.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.navbar {
  background-color: #08172b;
  border: #08172b;
  border-bottom-left-radius: 1.2em;
  border-bottom-right-radius: 1.2em;
}

.navbar {
  border-bottom-right-radius: 1.2em;
  border-bottom-left-radius: 1.2em;
}
.nav-item > p {
  font-size: 1.2rem;
  font-weight: 700;
}

/* ----------------------RESPONSIVE CSS----------------------- */

.border-dashed {
  --bs-border-style: dashed;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.b-example-divider {
  width: 100%;
  height: 3rem;
  background-color: rgba(0, 0, 0, 0.1);
  border: solid rgba(0, 0, 0, 0.15);
  border-width: 1px 0;
  box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1),
    inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
}

.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}

.bi {
  vertical-align: -0.125em;
  fill: currentColor;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.btn-bd-primary {
  --bd-violet-bg: #712cf9;
  --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

  --bs-btn-font-weight: 600;
  --bs-btn-color: var(--bs-white);
  --bs-btn-bg: var(--bd-violet-bg);
  --bs-btn-border-color: var(--bd-violet-bg);
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-hover-bg: #2881e0;
  --bs-btn-hover-border-color: #6528e0;
  --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-active-bg: #5a23c8;
  --bs-btn-active-border-color: #5a23c8;
}
.bd-mode-toggle {
  z-index: 1500;
}

button .d-inline-flex {
  font-size: 2rem;
  font-weight: 500;
}

@media (min-width: 992px) {
  .rounded-lg-3 {
    border-radius: 0.3rem;
  }
}

.container h1 span {
  font-size: 1.6em;
  font-weight: 700;
  background: linear-gradient(
    to right,
    rgb(255, 0, 0),
    #03cdc3e0,
    rgb(226, 114, 133)
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
@media (max-width: 500px) {
  .d-inline-flex button {
    width: 80vw;
    height: 6vh;
    font-size: 1.6rem;
    display: flex;
    align-items: center;
  }
}

@media (max-width: 500px) {
  .d-inline-flex p {
    width: 100vw;
    height: 6vh;
    font-size: 1.6rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    overflow: hidden;
  }
}
